@mixin abs-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin hover {
    @media (any-hover: hover) {
        &:hover {
            @content;
        }
    }
}
