@font-face {
    font-family: "Larsseit";
    src: url("../fonts/Larsseit.woff2") format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Larsseit";
    src: url("../fonts/Larsseit-Bold.woff2") format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Noe Display";
    src: url("../fonts/NoeDisplay-Bold.woff2") format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
